.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(18, 21, 27, 255);
    width: 25%;
    height: 1%;
    color: white;
    border-radius: 5px 5px 0px 0px;
    box-shadow: -5px 0px 10px grey;
    padding: 10px; 
  }
  
  .left-section {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  .right-section {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  .title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
  }
  
  .expand-icon,
  .dropdown-icon {
    display: flex;
    align-items: center; 
    cursor: pointer; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }